
.App {

}

.App-logo {

}

.App-header {

}

.App-link {
}
#biggestDiv {
  width: 100vw;
  height: 100vh;
}
.sparkleBox {
  max-width: 900px;
  max-height: 900px;

}
.messageBoard {
  background-image: url(./gameboy.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
  text-align: center;
  min-height: 818px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
}
#ruleTitle{
  font-size: 25px;
}
#ruleList{
  font-size: 15px;
  word-wrap: normal;
}
