
.App {
  background-image: url(./gameboy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 130vh;
}

.App-logo {

}

.App-header {

}

.App-link {
}
#biggestDiv {
  display: flex;
  flex-direction: row;
}
.sparkleBox {
  max-width:275px;
  max-height: 260px;
  padding-left: 86px;
  padding-top: 26px;
}
.messageBoard {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  max-width: 750px;
}

.button button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
}
#ruleTitle{
  font-size: 25px;
}
#ruleList{
  font-size: 15px;
  word-wrap: normal;
}
