
.App {
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.App-logo {

}

.App-header {

}

.App-link {
}
#page {
  display: flex;
  flex-direction: column;
}
#top {
  display: flex;
  flex-direction: row;
  background-image: url(/public/images/topGameBoy.png);
  background-repeat: no-repeat;
  background-color: rgba(217,217,217,.89);
}
#bottom {
  background-color: rgba(217,217,217,.89);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
}
.gameboy {
  display: flex;
  flex-direction:  row;
  height: 100vh;
  min-width: 800px;
}

.messageBoard {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  min-width: 300px;
  max-width: 500px;
  height: 100vh;
}

#ruleTitle{
  font-size: 25px;
}
#ruleList{
  font-size: 15px;
  word-wrap: normal;
}
.T3Box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
  height: 100px;
  width: 100px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 306px;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
